# =============================
# ROS / colcon 编译产物
# =============================
build/
install/
log/
devel/

# =============================
# IDE
# =============================
.vscode/
.idea/

# =============================
# Linux 临时文件
# =============================
*.swp
*.tmp
*~

# =============================
# Python
# =============================
__pycache__/
*.pyc

# =============================
# ROS bag 数据
# =============================
*.bag

# =============================
# 数据库或二进制大文件
# =============================
*.db
*.bin

